.Cell {
  width: 100px;
  padding-top: 20%;
  border-radius: 10px;
  background-color: rgba(169, 169, 169, 0.534);
  transition: background-color 0.2s ease;
}

.Cell-lit {
  background-color: white;
  box-shadow:  0px 0px 10px white;
}

